*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 70%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 46.88%; } }

body {
  font-family: 'Avenir', 'Raleway', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  outline: none;
  letter-spacing: .5px;
  color: #333; }

.removelink {
  text-decoration: none;
  outline: none;
  color: inherit; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 7rem;
  background-color: white;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee; }
  .nav__logo--container {
    height: 3rem;
    display: flex;
    align-items: center; }
  .nav__logo--image {
    height: 100%; }
  .nav__logo--text {
    font-size: 17px;
    font-weight: 500;
    margin-left: .75rem; }
  .nav__items {
    display: flex;
    align-items: center; }
  .nav__item {
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    transition: all .2s; }
    .nav__item:hover {
      color: #307FAB; }
  .nav__button {
    margin-left: 2rem;
    padding: 1rem 2rem;
    color: white;
    background-image: linear-gradient(to right, #5E54D0, #307FAB);
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 100px;
    transition: all .2s; }
    .nav__button:hover {
      transform: scale(1.05); }

.flux {
  padding: 5rem 8%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .flux__title {
    font-size: 2.4rem;
    margin-bottom: 1rem; }
  .flux__subtitle {
    font-size: 2rem;
    margin-bottom: 2.5rem; }
  .flux__subscribe {
    background-image: linear-gradient(to right, #5E54D0, #307FAB);
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 100px;
    padding: 1.5rem 3rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s; }
    .flux__subscribe:hover {
      transform: scale(1.05); }

.footer {
  height: 33rem;
  width: 100%;
  background-color: #111;
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: space-between; }
  .footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .footer__logo--image {
      height: 3.6rem;
      margin-right: .5rem; }
    .footer__logo--text {
      color: white;
      font-size: 2.4rem;
      font-weight: 500; }
  .footer__copyright {
    font-size: 1.4rem;
    font-weight: 500;
    color: white; }
  .footer__socials {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__social {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    cursor: pointer; }
    .footer__social:hover > .footer__social--text {
      text-decoration: underline; }
    .footer__social--icon {
      height: 2rem;
      margin-right: 1rem; }
      .footer__social--icon--large {
        height: 1.7rem; }
    .footer__social--text {
      font-size: 1.4rem;
      color: white;
      font-weight: 500; }
      .footer__social--text:hover {
        text-decoration: underline; }

.media {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column; }
  .media__top {
    min-height: 7rem;
    border-bottom: 1px solid #eee;
    background-color: white;
    background-color: white;
    display: flex;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: space-between; }
  .media__logo {
    display: flex;
    align-items: center; }
    .media__logo--image {
      height: 3rem; }
    .media__logo--name {
      font-size: 1.4rem;
      font-weight: 500;
      margin-left: .75rem; }
  .media__back {
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer; }
  .media__bottom {
    height: 95vh;
    width: 100vw;
    display: flex; }
  .media__panel {
    width: 25vw;
    background-color: white;
    border-left: 1px solid #eee; }
  .media__main {
    width: 70vw; }
    .media__main--video {
      height: 80%;
      width: 100%; }
  .media__videos {
    width: 30vw;
    background-color: white;
    border-left: 1px solid #eee;
    display: flex;
    flex-direction: column;
    overflow-y: scroll; }
    .media__videos--title {
      padding: 1rem 1rem 0 1rem;
      font-size: 1.4rem;
      font-weight: 500; }
  .media__video {
    padding: 1rem 4rem 1rem 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #eee;
    cursor: pointer; }
    .media__video--thumbnail {
      height: 10rem;
      margin-right: 1rem; }
    .media__video--details {
      display: flex;
      flex-direction: column; }
    .media__video--title {
      font-size: 1.4rem;
      font-weight: 500; }
    .media__video--date {
      font-size: 1.2rem;
      color: #555;
      font-weight: 500; }

.packMember {
  background-color: white;
  padding: 4rem 22% 8rem 22%;
  display: flex;
  flex-direction: column; }
  .packMember__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; }
    .packMember__nav--item {
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .2s; }
  .packMember__left {
    width: 35%; }
  .packMember__right {
    width: 65%;
    padding-left: 5rem; }
  .packMember__photo {
    width: 100%; }
    .packMember__photo--image {
      height: 100%;
      width: 100%; }
  .packMember__name {
    font-size: 2.4rem;
    font-weight: 600; }
  .packMember__title {
    font-size: 2rem;
    font-weight: 500; }
  .packMember__bio {
    font-size: 1.7rem; }

.home {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.homeHeader {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right top, #5E54D0, #307FAB);
  background-image: linear-gradient(to right top, #4D42C9, #307FAB); }
  .homeHeader__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 15rem;
    left: 10%;
    z-index: 300;
    height: 50rem;
    width: 36vw; }
  .homeHeader__title {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 3px; }
  .homeHeader__subtitle {
    color: white;
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: 1rem; }
  .homeHeader__description {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .homeHeader__action {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 100px;
    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .2s; }
    .homeHeader__action:hover {
      border: 2px solid #206D98;
      background-color: #206D98; }
    .homeHeader__action--icon {
      height: 2.2rem;
      margin-right: 1rem; }
    .homeHeader__action--text {
      font-size: 1.4rem;
      color: white;
      font-weight: 500; }
  .homeHeader__mockups {
    position: absolute;
    height: 57rem;
    top: 12%;
    right: 12%; }

.homePillars {
  width: 100%;
  background-color: white;
  padding: 4rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homePillars__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center; }
  .homePillars__subtitle {
    font-weight: 500;
    padding: 0 17%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem; }
  .homePillars__pillars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; }
  .homePillars__pillar {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homePillars__pillar--middle {
      margin: 0 6rem; }
    .homePillars__pillar--icon {
      height: 4rem;
      margin-bottom: 1.5rem; }
    .homePillars__pillar--title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 1rem; }
    .homePillars__pillar--body {
      font-size: 1.5rem;
      text-align: center; }
  .homePillars__more {
    padding: 1.5rem 3rem;
    background-image: linear-gradient(to right, #5E54D0, #307FAB);
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .homePillars__more:hover {
      transform: scale(1.05); }

.homeSponsors {
  background-color: #fbfbfb;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homeSponsors__title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem; }
  .homeSponsors__body {
    font-size: 2rem;
    text-align: center;
    padding: 0 17%;
    margin-bottom: 2rem; }
  .homeSponsors__section {
    display: flex;
    flex-direction: column;
    padding: 2rem 24% 0 24%;
    width: 100vw; }
    .homeSponsors__section--title {
      font-size: 1.4rem;
      background: -webkit-linear-gradient(#5E54D0, #307FAB);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center; }
  .homeSponsors__sponsors {
    font-size: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .homeSponsors__sponsors--specialtwo {
      justify-content: center; }
    .homeSponsors__sponsors--platinum {
      justify-content: center; }
    .homeSponsors__sponsors--gold {
      justify-content: center; }
  .homeSponsors__sponsor {
    font-weight: 500;
    color: #333;
    text-align: center;
    transition: all .2s;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all .4s; }
    .homeSponsors__sponsor:hover {
      color: #111; }
    .homeSponsors__sponsor--logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;
      cursor: pointer; }
      .homeSponsors__sponsor--logo:hover > .homeSponsors__sponsor--logo--text {
        color: #111; }
      .homeSponsors__sponsor--logo--image {
        height: 3rem;
        margin-right: .75rem; }
      .homeSponsors__sponsor--logo--text {
        font-weight: 500;
        color: #333;
        text-transform: uppercase; }
    .homeSponsors__sponsor--special {
      flex-basis: 33.33%; }
    .homeSponsors__sponsor--specialtwo {
      margin: 0 3rem; }
    .homeSponsors__sponsor--platinum {
      margin: 0 2rem; }
    .homeSponsors__sponsor--silver {
      flex-basis: 33%; }
  .homeSponsors__cta {
    margin: 2rem;
    border: 2px solid #307FAB;
    background-color: transparent;
    color: #307FAB;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 100px;
    padding: 1.5rem 3rem;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s; }
    .homeSponsors__cta:hover {
      transform: scale(1.05); }
  .homeSponsors__kickstarter {
    padding: 0 24%;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homeSponsors__kickstarter--title {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .homeSponsors__kickstarter--more {
      font-size: 2rem;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer; }

.learn {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.learnHeader {
  background-color: white;
  padding: 4rem 8rem; }
  .learnHeader__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center; }
  .learnHeader__subtitle {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
    text-align: center;
    margin: 0 17% 2rem 17%; }
  .learnHeader__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    .learnHeader__nav--items {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 38rem; }
    .learnHeader__nav--item {
      font-size: 1.4rem;
      font-weight: 600;
      cursor: pointer;
      transition: all .2s;
      color: #999; }
      .learnHeader__nav--item:hover {
        color: #333; }
    .learnHeader__nav--border {
      border-bottom: 1px solid #eee;
      width: 38rem; }
  .learnHeader__section {
    min-height: 27rem;
    margin: 6rem 0;
    display: flex; }
    .learnHeader__section--left {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-right: 8%;
      padding-left: 8rem; }
    .learnHeader__section--right {
      width: 50%;
      margin-left: 8%;
      padding-right: 8rem; }
    .learnHeader__section--video {
      height: 100%;
      width: 100%; }
    .learnHeader__section--visual {
      width: 100%; }
    .learnHeader__section--title {
      font-size: 2rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 1rem; }
    .learnHeader__section--body {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
    .learnHeader__section--bullet {
      display: flex;
      align-items: center;
      margin-bottom: 1rem; }
      .learnHeader__section--bullet--icon {
        height: 1.5rem;
        margin-right: 1rem; }
    .learnHeader__section--text {
      font-size: 1.7rem; }
  .learnHeader__more {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer; }
  .learnHeader__articles {
    display: flex;
    justify-content: space-between;
    margin: 6rem 5% 0 5%; }
  .learnHeader__article {
    position: relative;
    text-align: center;
    color: white;
    height: 25.5rem;
    width: 34rem;
    background-size: cover;
    background-position: center;
    cursor: pointer; }
    .learnHeader__article--medium {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--medium.png");
      transition: all .2s; }
      .learnHeader__article--medium:hover {
        background-image: linear-gradient(to right, rgba(85, 85, 85, 0.36), rgba(85, 85, 85, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--medium.png"); }
    .learnHeader__article--rebalance {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--rebalance.png");
      transition: all .2s; }
      .learnHeader__article--rebalance:hover {
        background-image: linear-gradient(to right, rgba(85, 85, 85, 0.36), rgba(85, 85, 85, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--rebalance.png"); }
    .learnHeader__article--soup {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--soup.png");
      transition: all .2s; }
      .learnHeader__article--soup:hover {
        background-image: linear-gradient(to right, rgba(85, 85, 85, 0.36), rgba(85, 85, 85, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--soup.png"); }
    .learnHeader__article--individual {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--individual.png"); }
      .learnHeader__article--individual:hover {
        background-image: linear-gradient(to right, rgba(85, 85, 85, 0.36), rgba(85, 85, 85, 0.36)), url("../../../src/assets/images/junto-home-2.0__learn--individual.png"); }
    .learnHeader__article--title {
      position: absolute;
      top: 10rem;
      left: 2rem;
      right: 2rem;
      font-size: 2rem;
      font-weight: 600; }
    .learnHeader__article--subtitle {
      position: absolute;
      top: 2rem;
      left: -2rem;
      height: 5rem;
      padding: .5rem 1rem;
      background-image: linear-gradient(to right, #5E54D0, #307FAB);
      font-size: 1.4rem;
      font-weight: 500;
      display: flex;
      align-items: center; }
    .learnHeader__article--author {
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.4rem;
      font-weight: 500; }
  .learnHeader__link {
    color: #307FAB;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transition: all .2s; }
    .learnHeader__link:hover {
      color: #206D98; }

.pack {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.packHeader {
  background-color: white;
  padding: 4rem 8rem; }
  .packHeader__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .packHeader__subtitle {
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 25%;
    margin-bottom: 2rem; }
  .packHeader__pack {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
  .packHeader__member {
    flex-basis: 25%;
    margin-bottom: 3rem;
    transition: all .2s;
    cursor: pointer; }
    .packHeader__member--photo {
      height: 22rem;
      width: 22rem;
      margin-bottom: 1rem;
      overflow-y: hidden;
      position: relative;
      cursor: pointer; }
      .packHeader__member--photo--image {
        width: 100%; }
      .packHeader__member--photo:hover > .packHeader__member--cover {
        opacity: .8; }
      .packHeader__member--photo:hover > .packHeader__member--cover--text {
        opacity: 1; }
    .packHeader__member--cover {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to right top, #5E54D0, #307FAB);
      opacity: 0;
      z-index: 998;
      transition: all .2s; }
      .packHeader__member--cover--text {
        opacity: 0;
        color: white;
        font-size: 1.7rem;
        font-weight: 600;
        position: absolute;
        top: 9rem;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        transition: all .2s;
        z-index: 999; }
    .packHeader__member--details {
      display: flex;
      flex-direction: column;
      width: 22rem; }
    .packHeader__member--name {
      font-size: 1.5rem;
      font-weight: 600; }
    .packHeader__member--title {
      font-size: 1.5rem;
      font-weight: 500; }

.foundation {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.foundationHeader {
  background-color: white;
  padding: 4rem 8rem; }
  .foundationHeader__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .foundationHeader__subtitle {
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 25%;
    margin-bottom: 4rem; }
  .foundationHeader__pillars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; }
  .foundationHeader__pillar {
    flex-basis: 33.3%;
    display: flex;
    flex-direction: column; }
    .foundationHeader__pillar--middle {
      margin: 0 6rem; }
    .foundationHeader__pillar--icon {
      height: 4rem;
      margin-bottom: 1.5rem; }
    .foundationHeader__pillar--title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 1rem; }
    .foundationHeader__pillar--body {
      font-size: 1.5rem; }

.events {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.eventsHeader {
  background-color: white;
  padding: 4rem 0; }
  .eventsHeader__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding: 0 8rem; }
  .eventsHeader__subtitle {
    padding: 0 20% 0 8rem;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 2rem; }
  .eventsHeader__calendar {
    height: 75vh;
    width: 100vw;
    padding: 0 8rem; }
    .eventsHeader__calendar--calendar {
      height: 100%;
      width: 100%; }

.manifesto {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.faq {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.faqHeader {
  background-color: white;
  padding: 4rem 8rem; }
  .faqHeader__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1.5rem; }
  .faqHeader__subtitle {
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 25%;
    margin-bottom: 2rem; }
  .faqHeader__nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem; }
    .faqHeader__nav--items {
      display: flex;
      align-items: center; }
    .faqHeader__nav--item {
      font-size: 1.4rem;
      font-weight: 600;
      margin-right: 4rem;
      cursor: pointer;
      transition: all .2s;
      color: #999; }
      .faqHeader__nav--item:hover {
        color: #333; }
    .faqHeader__nav--border {
      width: 55rem;
      border-bottom: 1px solid #eee; }
  .faqHeader__faqs {
    margin-right: 36%; }
  .faqHeader__faq {
    cursor: pointer;
    margin-bottom: 2.5rem; }
    .faqHeader__faq:hover > .faqHeader__faq--question {
      border-left: 2px solid #307FAB;
      border-radius: 2px;
      padding-left: .75rem;
      transition: all .2s; }
    .faqHeader__faq:hover > .faqHeader__faq--answer {
      padding-left: .75rem;
      transition: all .2s; }
    .faqHeader__faq--question {
      font-size: 1.7rem;
      font-weight: 600; }
    .faqHeader__faq--answer {
      font-size: 1.7rem;
      font-weight: 400; }
