*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Avenir', 'Raleway', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
  outline: none;
  letter-spacing: .5px; }

.removelink {
  text-decoration: none;
  outline: none;
  color: inherit; }

.home {
  margin-top: 7rem;
  width: 100%;
  height: 100%;
  position: relative; }

.homeHeader {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right top, #5E54D0, #307FAB); }
  .homeHeader__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 15rem;
    left: 10%;
    z-index: 300;
    height: 50rem;
    width: 36vw; }
  .homeHeader__title {
    color: white;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 3px; }
  .homeHeader__subtitle {
    color: white;
    font-size: 2.7rem;
    font-weight: 400;
    margin-bottom: 1rem; }
  .homeHeader__description {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 2rem; }
  .homeHeader__action {
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 100px;
    background-color: transparent;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .2s; }
    .homeHeader__action:hover {
      border: 2px solid #307FAB;
      background-color: #307FAB; }
    .homeHeader__action--icon {
      height: 2.2rem;
      margin-right: 1rem; }
    .homeHeader__action--text {
      font-size: 1.4rem;
      color: white;
      font-weight: 500; }
  .homeHeader__mockups {
    position: absolute;
    height: 57rem;
    top: 12%;
    right: 12%; }

.homePillars {
  width: 100%;
  background-color: white;
  padding: 4rem 8%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homePillars__title {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: center; }
  .homePillars__subtitle {
    font-weight: 500;
    padding: 0 17%;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 4rem; }
  .homePillars__pillars {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem; }
  .homePillars__pillar {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homePillars__pillar--middle {
      margin: 0 6rem; }
    .homePillars__pillar--icon {
      height: 4rem;
      margin-bottom: 1.5rem; }
    .homePillars__pillar--title {
      font-size: 1.7rem;
      font-weight: 600;
      margin-bottom: 1rem; }
    .homePillars__pillar--body {
      font-size: 1.5rem;
      text-align: center; }
  .homePillars__more {
    padding: 1.5rem 3rem;
    background-image: linear-gradient(to right, #5E54D0, #307FAB);
    color: white;
    font-weight: 500;
    font-size: 1.4rem;
    border: none;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
    transition: all .2s; }
    .homePillars__more:hover {
      transform: scale(1.05); }

.homeSponsors {
  background-color: #fbfbfb;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .homeSponsors__title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem; }
  .homeSponsors__body {
    font-size: 2rem;
    text-align: center;
    padding: 0 17%;
    margin-bottom: 2rem; }
  .homeSponsors__section {
    display: flex;
    flex-direction: column;
    padding: 2rem 24%;
    width: 100vw; }
    .homeSponsors__section--title {
      font-size: 1.4rem;
      background: -webkit-linear-gradient(#5E54D0, #307FAB);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      margin-bottom: 2rem;
      text-align: center; }
  .homeSponsors__sponsors {
    font-size: 1.7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .homeSponsors__sponsors--platinum {
      justify-content: center; }
    .homeSponsors__sponsors--gold {
      justify-content: center; }
  .homeSponsors__sponsor {
    font-weight: 500;
    color: #333;
    text-align: center;
    transition: all .2s;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all .4s; }
    .homeSponsors__sponsor:hover {
      color: #111; }
    .homeSponsors__sponsor--special {
      flex-basis: 33.33%; }
    .homeSponsors__sponsor--gold {
      margin: 0 2rem; }
    .homeSponsors__sponsor--silver {
      flex-basis: 33%; }
  .homeSponsors__kickstarter {
    padding: 0 24%;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .homeSponsors__kickstarter--title {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .homeSponsors__kickstarter--more {
      font-size: 2rem;
      font-weight: 500;
      text-decoration: underline;
      cursor: pointer; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 7rem;
  background-color: white;
  display: flex;
  padding: 0 1.5rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee; }
  .nav__logo--container {
    height: 3rem;
    display: flex;
    align-items: center; }
  .nav__logo--image {
    height: 100%; }
  .nav__logo--text {
    font-size: 17px;
    font-weight: 500;
    margin-left: .75rem; }
  .nav__items {
    display: flex;
    align-items: center; }
  .nav__item {
    margin-left: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
    cursor: pointer;
    transition: all .2s; }
    .nav__item:hover {
      color: #307FAB; }
  .nav__button {
    margin-left: 2rem;
    padding: .75rem 2rem;
    color: white;
    background-image: linear-gradient(to right, #5E54D0, #307FAB);
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    border: none;
    border-radius: 100px; }

.flux {
  padding: 5rem 8%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .flux__title {
    font-size: 2.4rem;
    margin-bottom: 1rem; }
  .flux__subtitle {
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .flux__subscribe {
    background-image: linear-gradient(to right, #5E54D0, #307FAB);
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 100px;
    padding: 1.5rem 3rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s; }
    .flux__subscribe:hover {
      transform: scale(1.05); }

.footer {
  height: 27rem;
  width: 100%;
  background-color: #111;
  padding: 4rem 1.5rem;
  display: flex;
  justify-content: space-between; }
  .footer__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__logo {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .footer__logo--image {
      height: 3.6rem;
      margin-right: .5rem; }
    .footer__logo--text {
      color: white;
      font-size: 2.7rem;
      font-weight: 500; }
  .footer__copyright {
    font-size: 1.4rem;
    font-weight: 500;
    color: white; }
  .footer__socials {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer__social {
    display: flex;
    margin-bottom: 1.5rem;
    cursor: pointer; }
    .footer__social:hover > .footer__social--text {
      text-decoration: underline; }
    .footer__social--icon {
      height: 2rem;
      margin-right: 1rem; }
    .footer__social--text {
      font-size: 1.4rem;
      color: white;
      font-weight: 500; }
      .footer__social--text:hover {
        text-decoration: underline; }
