
$junto-primary: #307FAB;
$junto-primary-dark: #206D98;
$junto-purple: #5E54D0;
$junto-purple-dark: #4D42C9;

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; //600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; //900px
    }

    @if $breakpoint == pack {
        @media (max-width: 62em) {@content}; //960px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}; //1200px
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content}; //1800px
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; 

    @include respond(big-desktop) {
        font-size: 70%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port){
        font-size: 50%; 
    }

    @include respond(phone) {
        font-size: 46.88%;
    }    
} 

body {
    // height: 100%;
    font-family: 'Avenir', 'Raleway', sans-serif;
    box-sizing: border-box; 
    font-weight: 400;
    line-height: 1.6; 
    overflow-x: hidden; 
    outline: none;
    letter-spacing: .5px;
    color: #333; 
}

.removelink {
    text-decoration: none;
    outline: none; 
    color: inherit;
}

.addlink {
    color: $junto-primary; 
    font-weight: 500;
    text-decoration: none;
    outline: none; 

    cursor: pointer;
    transition: all .2s;

    &:hover {
        color: $junto-primary-dark;
    }    
}