@import '../../../../sass/base';

.learnHeader {
    background-color: white; 
    padding: 4rem;

    &__title {
        font-size: 2.4rem; 
        font-weight: 600;
        margin-bottom: 1.5rem; 
        text-align: center;

    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 500;
        margin-bottom: 2rem; 
        text-align: center;

        margin: 0 17% 3rem 17%;

        @include respond(tab-port) {
            margin: 0 8% 3rem 8%;
        }

        @include respond(phone) {
            margin: 0 0 3rem 0;
        }        
        
    }

    &__nav {
        display: flex;
        flex-direction: column; 
        align-items: center;

        margin-bottom: 2rem;

        &--items {
            display: flex;
            align-items: center;    
            justify-content: space-between; 
            text-align: center; 
            width: 38rem; 
        }

        &--item {
            font-size: 1.4rem;
            font-weight: 600; 
            cursor: pointer;
            transition: all .2s;

            color: #999; 

            &:hover {
                color: #333;
            }
        }

        &--border {
            border-bottom: 1px solid #eee;
            width: 38rem; 
        }
    }

    &__section {
        min-height: 27rem;
        margin: 6rem 0;
        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }
        &--left {
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-right: 8%;
            padding-left: 8rem;

            @include respond(tab-port) {
                margin-right: 0;
                padding-left: 0;
            }

            @include respond(phone) {
                width: 75%;
            }            
        }
        
        &--right {     
            width: 50%;
            margin-left: 8%;
            padding-right: 8rem; 
    
            @include respond(tab-port) {       
                margin-left: 0;         
                padding-right: 0;
            }        
            
            @include respond(phone) {
                width: 75%;
            }

            &--desk {
                display: block;

                @include respond(tab-port) {
                    display: none;
                }
            }
            
            &--tab {
                display: none;

                @include respond(tab-port) {
                    display: block; 
                }
            }
        }

        &--video {
            height: 100%;
            width: 100%;

            @include respond(tab-port) {        
                height: 24rem;           
                margin-bottom: 2rem; 
            }                   
        }

        &--visual {
            width: 100%; 

            @include respond(tab-port) {                
                margin-bottom: 2rem; 
            }                 

        }

        &--title {
            font-size: 2rem;
            font-weight: 600; 
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        &--body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &--bullet {
            display: flex; 
            align-items: center; 
            margin-bottom: 1rem;     
            
            &--icon {
                height: 1.5rem; 
                margin-right: 1rem;           
            }
        }
        &--text {        
            font-size: 1.7rem;
            // display: flex;
        }
    }

    &__more {
        text-align: center; 
        font-size: 2rem;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;

    }

    &__articles {
        display: flex;
        justify-content: space-between;      
        margin: 4rem 4% 0 4%; 

        @include respond(tab-land) {
            margin: 4rem 2% 0 2%;
        }

        @include respond(tab-port) {
            flex-direction: column;
            align-items: center;
        }

    }

    &__article {        
        position: relative;
        text-align: center; 
        color: white;
        height: 25.5rem;
        width: 34rem;
        background-size: cover; 
        background-position: center; 
        cursor: pointer;

        @include respond(tab-land) {
            height: 21rem;
            width: 28rem;
        }
        
        @include respond(tab-port) {
            margin-bottom: 3rem; 
        }

        &--medium {
            background-image: linear-gradient(to right, rgba(#000, .36), rgba(#000, .36)), url('../../../src/assets/images/junto-home-2.0__learn--medium.png');
            transition: all .2s; 

            &:hover {
            background-image: linear-gradient(to right, rgba(#555, .36), rgba(#555, .36)), url('../../../src/assets/images/junto-home-2.0__learn--medium.png');

            }
        }   

        &--rebalance {
            background-image: linear-gradient(to right, rgba(#000, .36), rgba(#000, .36)), url('../../../src/assets/images/junto-home-2.0__learn--rebalance.png');
            transition: all .2s; 

            margin: 0 2rem;

            @include respond(tab-port) {
                margin: 0 0 3rem 0;
            }

            &:hover {
            background-image: linear-gradient(to right, rgba(#555, .36), rgba(#555, .36)), url('../../../src/assets/images/junto-home-2.0__learn--rebalance.png');

            }
        }           

        &--soup {
            background-image: linear-gradient(to right, rgba(#000, .36), rgba(#000, .36)), url('../../../src/assets/images/junto-home-2.0__learn--soup.png');
            transition: all .2s; 

            &:hover {
            background-image: linear-gradient(to right, rgba(#555, .36), rgba(#555, .36)), url('../../../src/assets/images/junto-home-2.0__learn--soup.png');

            }
        }        

        &--individual {
            background-image: linear-gradient(to right, rgba(#000, .36), rgba(#000, .36)), url('../../../src/assets/images/junto-home-2.0__learn--individual.png');

            &:hover {
            background-image: linear-gradient(to right, rgba(#555, .36), rgba(#555, .36)), url('../../../src/assets/images/junto-home-2.0__learn--individual.png');

            }            

        }
        
        &--title {
            position: absolute;
            top: 10rem;
            left: 2rem;
            right: 2rem;         
            font-size: 2rem;
            font-weight: 600;   

            @include respond(tab-land) {
                top: 9rem;
                font-size: 1.4rem;
            }

            @include respond(tab-port) {
                font-size: 1.7rem;
            }
        }

        &--subtitle {
            position: absolute;
            top: 2rem;
            left: -2rem;
            height: 5rem;
            padding: .5rem 1rem; 
            background-image: linear-gradient(to right, $junto-purple, $junto-primary);
            font-size: 1.4rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            // margin-bottom: 1.5rem;
        }
        &--author {
            position: absolute;
            bottom: 15%;
            left: 50%;     
            transform: translateX(-50%);

            font-size: 1.4rem;
            font-weight: 500;
        }
    }
}