
.packMember {
    background-color: white;
    padding: 4rem 22% 8rem 22%;

    display: flex;
    flex-direction: column;

    &__nav {
        display: flex;
        justify-content: space-between; 
        margin-bottom: 4rem; 

        &--item {
            font-size: 1.4rem;
            font-weight: 500; 
            text-transform: uppercase; 

            cursor: pointer;
            transition: all .2s; 

            &:hover {

            }
        }
    }

    &__left {
        width: 35%;
    }

    &__right {
        width: 65%;
        padding-left: 5rem;
    }

    &__photo {
        width: 100%;

        &--image {
            height: 100%;
            width: 100%; 

            &--hire {
                height: 12rem;
                width: auto;
            }
        }
    }

    &__name {
        font-size: 2.4rem;
        font-weight: 600; 
    }
    &__title {
        font-size: 2rem;
        font-weight: 500;
    }

    &__bio {
        font-size: 1.7rem; 
    }
}