.faqHeader {
    background-color: white; 
    padding: 4rem 8rem; 

    &__title {
        font-size: 2.4rem; 
        font-weight: 600;
        margin-bottom: 1.5rem; 
    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 500;
        margin-right: 25%;
        margin-bottom: 2rem; 
    }

    &__nav {
        display: flex;
        align-items: center;        
        margin-bottom: 2rem;

        &--item {
            font-size: 1.4rem;
            font-weight: 600; 
            margin-right: 4rem; 
            cursor: pointer;
            transition: all .2s;

            color: #999; 

            &:hover {
                color: #333;
            }

            &--active {
                color: #333;
            }

        }
    }

    &__faq {
        margin-bottom: 1rem; 

        &--question {
            font-size: 1.7rem;
            font-weight: 600;         
        }

        &--answer {
            font-size: 1.7rem;
            font-weight: 400; 

        }
    }

}