.faqHeader {
    background-color: white; 
    padding: 4rem 8rem; 

    @include respond(phone) {
        padding: 4rem;
    }    

    &__title {
        font-size: 2.4rem; 
        font-weight: 600;
        margin-bottom: 1.5rem; 
    }

    &__subtitle {
        font-size: 1.7rem;
        font-weight: 500;
        margin-right: 25%;
        margin-bottom: 2rem; 

        @include respond(phone) {
            margin-right: 2rem; 
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        &--items {
            display: flex;
            align-items: center;                  

        }
        &--item {
            font-size: 1.4rem;
            font-weight: 600; 
            margin-right: 4rem; 
            cursor: pointer;
            transition: all .2s;

            color: #999; 

            &:hover {
                color: #333;
            }
        }
        &--border {
            width: 45rem;
            border-bottom: 1px solid #eee; 

            @include respond(phone) {
                width: 40rem;
            }
        }
    }
    &__faqs {
        margin-right: 36%; 
    }
    &__faq {
        cursor: pointer;
        margin-bottom: 2.5rem; 

        &:hover > &--question {
            border-left: 2px solid $junto-primary;
            border-radius: 2px;
            padding-left: .75rem;
            transition: all .2s; 
        }

        &:hover > &--answer {
            padding-left: .75rem;
            transition: all .2s; 
        }

        &--question {
            font-size: 1.7rem;
            font-weight: 600;         
        }

        &--answer {
            font-size: 1.7rem;
            font-weight: 400; 

        }
    }

}