@import '../../../../sass/base';

.packHeader {
    background-color: white; 

    &__header {
        position: relative;
        background-image: url('../../../../src/assets/images/junto-home-2.0__rainbow.png');
        background-position: center;
        background-size: cover;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 8rem;


        &--title {
            font-size: 4.5rem;
            color: white;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        &--subtitle {
            font-size: 2.4rem;
            color: white;
            font-weight: 500;
            width: 75%;
        }
    }        

    &__main {
        padding: 4rem 8rem; 

        @include respond(phone) {
            padding: 4rem 2rem;
        }

        &--title {
            font-size: 2.4rem; 
            font-weight: 600;
            margin-bottom: 1.5rem; 
        }
    
        &--subtitle {
            font-size: 1.7rem;
            font-weight: 500;
            margin-right: 25%;
            margin-bottom: 2rem; 
     
            @include respond(phone) {
                margin-right: 0;
            }
        }        
    }

    &__pack {
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-wrap: wrap; 

        &--desk {
            
            @include respond(pack) {
                display: none;
            }
        }
    }

    &__member {    
        margin-bottom: 3rem;      
        transition: all .2s;

        &--mobile {
            display: none;

            @include respond(pack) {
                display: block;
            }
        }

        &--invisible {
            height: 24rem;
            width: 24rem;

        }
        &--hire {
            height: 24rem;
            width: 24rem;
            border: 3px solid $junto-primary;
            margin-bottom: 1rem; 
            position: relative;
            background-image: linear-gradient(to right top, white, white);

            cursor: pointer;
            transition: all .2s; 

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-image: linear-gradient(to right top, rgba($junto-primary, .8), rgba($junto-primary, .8));
                border: 3px solid white; 
            }

            &:hover > .packHeader__member--hire--text {
                opacity: 1;
            }            

            &--image {
                height: 9rem;
            }

            &--text {
                opacity: 0;
                color: white;
                font-size: 1.7rem;
                font-weight: 600;
                position: absolute;
                top: 9rem;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);

                transition: all .2s;             
                z-index: 999;
            }
        }

        &--photo {
            height: 24rem;
            width: 24rem;
            margin-bottom: 1rem; 
            overflow-y: hidden; 
            overflow-x: hidden;

            position: relative;
            cursor: pointer;
        
            &--image {
                // height: 100%;
                width: 100%;

                &--david {
                    width: auto;
                    height: 100%; 
                }
            }

            &:hover > .packHeader__member--cover {
                opacity: .8;

            }

            &:hover > .packHeader__member--cover--text {
                opacity: 1;
            }
        }

        &--cover {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: linear-gradient(to right top, $junto-primary, $junto-primary);
            opacity: 0;
            z-index: 998;

            transition: all .2s;

            &--text {
                opacity: 0;
                color: white;
                font-size: 1.7rem;
                font-weight: 600;
                position: absolute;
                top: 9rem;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);

                transition: all .2s;             
                z-index: 999;
            }
        }        

        &--details {
            display: flex;
            flex-direction: column;       
            width: 22rem;   

            @include respond(phone) {
                width: 100%;
            }
        }

        &--name {
            font-size: 1.5rem;
            font-weight: 600;

            @include respond(phone) {
                font-size: 1.7rem;
            }
        }

        &--title  {
            font-size: 1.5rem;
            font-weight: 500;         
            
            @include respond(phone) {
                font-size: 1.7rem;
            }            
        }
    }
}