@import '../../../../sass/base';

.homeSponsors {
    background-color: #fbfbfb;

    padding: 5rem 0; 
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-size: 2.4rem; 
        font-weight: 600;
        text-align: center; 
        margin-bottom: 1rem; 
        padding: 0 12rem;

        @include respond(phone) {
            padding: 0 2rem;
        }
    }

    &__body {
        font-size: 2rem;
        text-align: center;
        padding: 0 17%; 

        @include respond(phone) {
            padding: 0 2rem;
        }
    }

    &__section {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        padding: 2rem 24% 0 24%; 
        width: 100vw;

        @include respond(tab-port) {
            padding: 2rem 8% 0 8%;
        }

        @include respond(phone) {
            padding: 2rem 1rem 0 1rem;
        }        

        &--title {
            font-size: 1.4rem;        
            background: -webkit-linear-gradient($junto-purple, $junto-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
            margin-bottom: 2rem; 

            text-align: center;
        }
    }

    &__sponsors {
        font-size: 1.7rem;
        width: 100%; 
        display: flex; 
        justify-content: space-between; 
        flex-wrap: wrap; 

        @include respond(phone) {
            font-size: 1.4rem;
        }


        &--specialtwo {
            justify-content: center; 
        }

        &--platinum {            
            justify-content: center; 
        }

        &--gold {              
            justify-content: center;
        }

        &--silver {                         
        }
    }

    &__sponsor {
        font-weight: 500;
        color: #333;
        text-align: center;
        transition: all .2s;
        text-transform: uppercase;
        margin-bottom: 2rem; 

        transition: all .4s;

        &:hover {
            color: #111;
        }

        &--logo {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover > &--text {
                color: #111;
            }

            &--image {
                height: 3rem;
                margin-right: .75rem;
            }

            &--text {
                font-weight: 500;
                color: #333;    
                text-transform: uppercase;             
            }
        }

        &--special {             
            flex-basis: 33.33%;         
            
            @include respond(phone) {
                flex-basis: 50%;
            }
            
            &--mobile {
                display: none;

                @include respond(phone) {
                    display: block;
                    margin-bottom: 0;
                }
            }
        }

        &--specialtwo {             
            margin: 0 3rem;

            &--david {

                @include respond(phone) {
                    display: none;
                }
            }
        }

        &--platinum {
            margin: 0 2rem; 

            @include respond(phone) {
                margin: 0;
                flex-basis: 50%;
            }
        }

        &--silver {
            flex-basis: 33%;

            @include respond(phone) {
                flex-basis: 50%;
            }
            &--desk {
                display: block;
                
                @include respond(phone) {
                    display: none;
                }                
            }

            &--mobile {
                display: none;

                @include respond(phone) {
                    display: block;
                    flex-basis: 50%;

                }
            }
        }
        
    }

    &__cta {
        margin: 2rem; 
        border: 2px solid $junto-primary;
        background-color: transparent; 
        color: $junto-primary;        
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 100px;
        padding: 1.5rem 2rem; 
        outline: none; 
        text-transform: uppercase;

        cursor: pointer;
        transition: all .2s;


        &:hover {
            transform: scale(1.05);

        }        
    }

    &__kickstarter {
        padding: 0 24%; 
        text-align: center; 
        margin-top: 2rem; 
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond(tab-port) {
            padding: 0 12%; 
        }

        @include respond(phone) {
            padding: 0 2rem;
        }


        &--title {
            font-size: 2rem;        
            font-weight: 600;
            margin-bottom: 1.5rem; 
        }

        &--more{
            font-size: 2rem;
            font-weight: 500;
            text-decoration: underline;
            cursor: pointer; 
        }
    }
}