@import '../../../sass/base';

.media {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: scroll;
    background-color: white;

    display: flex;
    flex-direction: column;

    &__top {
        position: fixed; 
        top: 0;
        left: 0;
        min-height: 7rem;
        width: 100vw;
        border-bottom: 1px solid #eee;
        background-color: white;

        background-color: white;
        display: flex;
        padding: 0 1.5rem; 
        align-items: center;
        justify-content: space-between;        
    }    

    &__logo {
        display: flex;
        align-items: center;

        &--image {
            height: 3rem; 
        }

        &--name {
            font-size: 1.4rem; 
            font-weight: 500;
            margin-left: .75rem;
        }
    }

    &__back {
        font-size: 1.2rem;
        font-weight: 500;
        cursor: pointer; 
    }

    &__bottom {
        margin-top: 7rem;
        height: 95vh;
        width: 100vw;
        display: flex;

        @include respond(tab-port) {
            height: 100%;
            flex-direction: column;
        }
    }

    &__main {
        width: 70vw;

        @include respond(tab-port) {
            height: 50vh;
            width: 100vw;
        }

        &--video {
            height: 80%;
            width: 100%;

            @include respond(tab-port) {
                height: 100%;
            }

        }
    }

    &__videos {
        width: 30vw;
        padding-bottom: 10rem;
        background-color: white;
        border-left: 1px solid #eee;        
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            width: 100vw;
        }      
        
        &--title {
            padding: 1rem 1rem 0 1rem; 
            font-size: 1.4rem; 
            font-weight: 500;            
        }
    }

    &__video {
        padding: 1rem 4rem 1rem 1rem;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid #eee;

        cursor: pointer;
        min-height: 15rem;

        @include respond(tab-port) {
            padding: 2rem 4rem 2rem 1rem; 
        }

        &--thumbnail {
            min-height: 10rem; 
            min-width: 15rem;
            margin-right: 1rem;

            @include respond(tab-port) {
                height: 12rem;
            }

            &--one {
                background-image: url('../../../src/assets/images/junto-home-2.0__thumbnail--flows.png');
                background-position: center;
                background-size: cover;
            }

            &--two {            
                background-image: url('../../../src/assets/images/junto-home-2.0__thumbnail--hcxjunto.png');
                background-position: center;
                background-size: cover;    
            }

            &--three {
                background-image: url('../../../src/assets/images/junto-home-2.0__thumbnail--demo.png');
                background-position: center;
                background-size: cover;                    

            }

            &--four {
                background-image: url('../../../src/assets/images/junto-home-2.0__thumbnail--decentralization.png');
                background-position: center;
                background-size: cover;                    

            }

            &--five {
                background-image: url('../../../src/assets/images/junto-home-2.0__thumbnail--communitysm.png');
                background-position: center;
                background-size: cover;                    

            }

            &--six {
                background-image: url('../../../src/assets/images/junto-home-2.0__thumbnail--blooper.png');
                background-position: center;
                background-size: cover;        
            }
        }

        &--details {
            display: flex;
            flex-direction: column;
        }

        &--title {
            font-size: 1.4rem;
            font-weight: 500;

            @include respond(tab-port) {
                font-size:  1.7rem;
            }
        }

        &--date {
            font-size: 1.2rem;
            color: #555;
            font-weight: 500;


            @include respond(tab-port) {
                font-size:  1.4rem;
            }            
        }
    }

}