@import '../../../sass/base';

.footer {
    height: 33rem; 
    width: 100%; 
    background-color: white;
    padding: 4rem 2rem; 

    display: flex;
    align-items: start;
    justify-content: space-between;
    border-top: solid .5px #eee;

    &__left {
        height: 100%; 

        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        align-content: start;
    }

    
    &__legal {
        display: flex;
        flex-direction: column;
        align-items: start;

        &--text {
            font-size: 1.4rem;
            color: #333;
            font-weight: 500;
            margin-bottom: 1.5rem;

            text-align: left;  
            text-decoration: none;

            &:hover {
                cursor: pointer;
                text-decoration: underline;

            }
        }
    }

    &__right {
        height: 100%; 
        display: flex;
        flex-direction: column;
        justify-content: space-between;      
        align-items: flex-end;   
        align-content: flex-end;
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;

        &--image {
            height: 3.6rem; 
            margin-right: .5rem; 
        }

        &--text {
            color: #333;
            font-size: 2.4rem; 
            font-weight: 500; 

            @include respond(phone) {
                display: none;
            }
        }
    }

    &__copyright {
        font-size: 1.4rem;
        font-weight: 500;
        color: #333;

        &--desk {
            display: block;
            
            @include respond(phone) {
                display: none; 
            }
        }

        &--mobile {
            display: none;

            @include respond(phone) {
                display: block; 
            }
        }
    }

    &__socials {
        height: 100%; 
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

    }

    &__social {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        cursor: pointer;       

        &:hover > &--text {
            text-decoration: underline;
        }
        &--icon {
            height: 2rem;
            margin-right: 1rem; 
            filter: invert(100%);


            &--large {
                height: 1.7rem;
                color: #333;

            }
        }
        &--text {
            font-size: 1.4rem;
            color: #333;
            font-weight: 500;     

            &:hover {
               text-decoration: underline;
            }                     
        }

        &--email {
            @include respond(phone) {
                display: none; 
            }
        }
    }

}