@import '../../../../sass/base';

.homeHeader {
    position: relative;
    background-image: linear-gradient(to right top, $junto-purple, $junto-primary);
    background-image: linear-gradient(to right top, $junto-purple-dark, $junto-primary);

    width: 100vw;

    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    @include respond(tab-port) {
        align-items: center;
        flex-direction: column;      
        // justify-content: flex-start;

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 8%;
        margin-top: 4%;
        width: 38vw;

        @include respond(tab-port) {
            margin: 0;
            margin-top: 2rem;
            margin-bottom: 4rem; 
            align-items: center;
            width: 75vw;            
        }
    }

    &__title {
        color: white;
        font-size: 4rem;
        font-weight: 500;
        letter-spacing: 3px;

        @include respond(tab-port) {
            text-align: center;
        }        
    }

    &__subtitle {
        color: white;
        font-size: 2.7rem;
        font-weight: 400;

        margin-bottom: 1rem; 

        @include respond(tab-port) {
            text-align: center;
        }              
    }

    &__description {
        color: white;
        font-size: 1.7rem;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            text-align: center;
        }              
    }

    &__action {
        display: flex;
        align-items: center;
        border: 2px solid white;
        border-radius: 100px;
        background-color: transparent;
        padding: 1rem 2rem;
        white-space: nowrap;
        overflow: hidden;

        cursor: pointer;
        transition: all .2s;

        &:hover {
            border: 2px solid $junto-primary-dark; 
            background-color: $junto-primary-dark;
            // background-color: $junto-primary;

        }

        &--icon {
            height: 2.2rem;
            margin-right: 1rem; 
        }

        &--text {
            font-size: 1.4rem; 
            color: white;
            font-weight: 500;
        }

    }

    &__mockups {
        height: 57rem;
        margin-right: 8%;

        @include respond(tab-port) {
            height: 49rem;
            margin-right: 0;

        }
    }

}