
.media {
    z-index: 1001;
    // transform: translateY(-7rem);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;

    display: flex;
    flex-direction: column;

    &__top {
        min-height: 7rem;
        border-bottom: 1px solid #eee;
        background-color: white;

        background-color: white;
        display: flex;
        padding: 0 1.5rem; 
        align-items: center;
        justify-content: space-between;        
    }    

    &__logo {
        display: flex;
        align-items: center;

        &--image {
            height: 3rem; 
        }

        &--name {
            font-size: 1.4rem; 
            font-weight: 500;
            margin-left: .75rem;
        }
    }

    &__back {
        font-size: 1.4rem;
        font-weight: 500;
        cursor: pointer; 
    }

    &__bottom {
        height: 95vh;
        width: 100vw;
        display: flex;
        // overflow-y: scroll;

        // background-image: linear-gradient(to right, $junto-purple, $junto-primary);
    }

    &__panel {
        width: 25vw;
        background-color: white;
        border-left: 1px solid #eee;
        
        // background-image: linear-gradient(to right, $junto-purple, $junto-primary);

    }

    &__main {
        width: 70vw;

        &--video {
            height: 80%;
            width: 100%;
            // margin-left: 50%;
            // margin-top: 25%;
            // transform: translate(-50%, -50%);
        }
    }

    &__videos {
        width: 30vw;
        background-color: white;
        border-left: 1px solid #eee;        
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

    }

    &__video {
        padding: 2rem;
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: 1px solid #eee;

        cursor: pointer;

        &--thumbnail {
            height: 10rem; 
            margin-right: 1rem;
        }

        &--details {
            display: flex;
            flex-direction: column;
        }

        &--title {
            font-size: 1.4rem;
            font-weight: 500;
        }

        &--date {
            font-size: 1.2rem;
            color: #555;
            font-weight: 500;
        }
    }

}