
.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;

    height: 7rem;
    background-color: white;
    display: flex;
    padding: 0 1.5rem; 
    align-items: center;
    justify-content: space-between;
    
    border-bottom: 1px solid #eee;

    &__logo {
        &--container {
            height: 3rem;
            display: flex;
            align-items: center;            
        }

        &--image {
            height: 100%;

        }

        &--text {
            font-size: 17px;
            font-weight: 500;
            margin-left: .75rem;
            // color: $cogov-grey;
        }
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-left: 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        color: #555;
        cursor: pointer;
        transition: all .2s;

        &:hover {
            color: $junto-primary;
        }
    }

    &__button {
        margin-left: 2rem; 
        padding: 1rem 2rem;
        color: white; 
        background-image: linear-gradient(to right, $junto-purple, $junto-primary);
        font-size: 1.2rem;
        font-weight: 500;
        outline: none;
        border: none;
        border-radius: 100px;
        transition: all .2s; 

        &:hover {
            transform: scale(1.05);
        }
    }
}